body{
    background-color:lightgray;
}

h1 {
    background-color:aquamarine;
    font-size:400%;
}

h2{
    text-align: center;
    background-color:mediumseagreen;
    font-size: 300%;
}

h3{
    text-align: center;
    font-size: 200%;
}

button.right
{
    float:right
}

button.signIn{
    width: 250px;
    height: 25px;
    margin: auto;
}

textarea{
    max-lines: 1;
    width: 250px;
    height: 25px;
    margin: auto;
    resize:none
}

div.login{
    background-color:white;
    width:250px;
    height:350px;
    border:30px solid mediumseagreen;
    padding:50px;
    margin:auto;
}

div.create{
    background-color:white;
    width:250px;
    height:400px;
    border:30px solid mediumseagreen;
    padding:50px;
    margin:auto;
}

a{
    color:black
}