h1 {
    background-color:aquamarine;
    font-size:400%;
}

h2
{
    background-color:mediumseagreen;
    font-size: 300%;
}

h3
{
    background-color:mediumseagreen;
    font-size:300%;
}

h4
{
    background-color:mediumseagreen;
    font-size:300%
}

div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

a{
    color:black
}